# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Todo: 

- criar validação para outras abas
criar back para quando o validador for clicado em uma aba (cnpj), a página de gerador ser aberta na aba do cnpj
- fazer o gerador consumir apis de geração de credenciais
- o validador também pode consumir apis

-Encontrar apis ou cálculo do dígito para rg, cnh e renavam