# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


PROBLEMAS E MELHORIAAAAS

**Prioridade: 
- renavam: validar pelo cálculo de dígito verificador;
!!Gerador:
- Refatoração: pagGerador e pagValidador passam props com as tabs para o TabMuiComponent -> ver como passar componentes por props;
- Redirecionamento: no validador, clicando em "gerar xx", encaminhar para a página correta referente ao tab que está sendo clicado.

-voltar a configurar o back da geração de cpf