# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Todo: 
- terminar o componente de input: 
    criar o texto em cima 
    alinhar botão e colocar dentro do mesmo componente
    criar o componenente de validação e a lógica dele: icons e cores
-Colocar o componente dentro do tab de CPF
- fazer cpf funcionar e ser validados
- refatoração para as outros abas.